.input-width {
    width: 100%;
    mat-icon {
        cursor: pointer;
        margin-left: 10px;
    }
}

mat-card {
    margin-bottom: 1em;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon:before {
    content: "\00a0";
}

.flag-icon.flag-icon-squared {
    width: 1em;
}

.flag-icon-de.flag-icon-squared {
    background-image: url("../../resources/flag-icon/de.svg");
}

.flag-icon-gb.flag-icon-squared {
    background-image: url("../../resources/flag-icon/gb.svg");
}

button {
    size: 22px;
    background-size: 22px;
    block-size: 22px;
    font-size: 22px;
    inline-size: 22px;
}