<mat-card>
  <div fxLayout="row">
    <div fxFlex fxLayoutAlign="start center">
      <app-warning-dialog></app-warning-dialog>
    </div>
    <div fxFlex="22px">
      <a href="/de"><button *ngIf="getLanguage()=='en'" mat-icon-button class="flag-icon flag-icon-de flag-icon-squared"></button></a>
      <a href="/en"><button *ngIf="getLanguage()=='de'" mat-icon-button class="flag-icon flag-icon-gb flag-icon-squared"></button></a>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <mat-form-field class="input-width">
        <input autofocus matInput type="password" i18n-placeholder="@@inputPlaceholder"
          placeholder="Enter a password to evaluate" [formControl]="passwordControl"
          (keyup)="getPasswordScoreWithDelay($event); " id="pwInput">
        <mat-icon *ngIf="passwordControl.value" matSuffix aria-label="Show Password" (click)="visible = toggleView()">{{visible===true
          ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-icon *ngIf="passwordControl.value" matSuffix aria-label="Clear"
          (click)="passwordControl.reset(); passwordControl.markAsTouched();">close</mat-icon>
        <mat-error *ngIf="passwordControl.hasError('maxlength')" i18n="@@tooLongInput">
          Your input is too long
        </mat-error>
        <mat-error *ngIf="!passwordControl.hasError('maxlength') && passwordControl.hasError('pattern')"
          i18n="@@nonASCIICharsInside">
          Please remove the following non-ASCII-characters from your input: {{ getFaultyCharacters() }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <mat-error *ngIf="getLastError()===1" i18n="@@invalidInput">Invalid input</mat-error>
    <mat-error *ngIf="getLastError()>1" i18n="@@noConnection">Unable to process your request, please try again later. In
      the meantime,
      you
      can look at pictues of <a target="_blank" href="https://www.reddit.com/r/cats">these cute kittens</a>.</mat-error>
  </div>
</mat-card>
