.divider-about {
    padding: 16px 0;
}

#logo-github {
    height: 20px;
}

footer {
    a {
        color: #666;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}
