.mat-progress-bar {
    height: 1em;
    margin: 0.5em 0;
}

mat-card {
    margin-bottom: 1em;
}

.result-message {
    font-weight: bold;
    font-size: larger;
    padding-top: 0.75em;
}

.result-content {
    padding-top: 8px;
}

.spinner-padding {
    margin-right: 15px;
}

.results-bar {
    padding-top: 2px;
}

.pull-results {
    margin-top: -5px;
}

.mat-icon {
    margin: -7px;
    padding: 7px;
    cursor: pointer;
}

.mat-elevation-z9 {
    margin-left: 10px;
    margin-right: 10px;
}