.spinner {
    position: absolute;
    top: 0;
    left: 0;

}

.spinner-text {
    position: relative;
    text-align: center;
    top: 40px;
}

.cont {
    position: relative;
    width: 100px;
    height: 100px;
}