.mat-icon {
    font-size: 15px;
    background-size: 15px;
    size: 15px;
    block-size: 15px;
    inline-size: 15px;
    margin-top: -4px;
    padding: 6px;
    cursor: pointer;
}

.mat-elevation-z9 {
    margin-left: 10px;
    margin-right: 10px
}